:root {
  --blue-light: #56CCF2;
  --white: #ffffff;
  --blue-dark: #174180;
  --grey2:  #4F4F4F;
  --grey3: #828282;
  --font-size: 16px;
  --left-padding: 16px;
  --right-padding: 20px;
  --right-padding2: 26px;
}